DATABASE_URL=
AUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000
GEMINI_API_KEY=
WHATSAPP_ACCESS_TOKEN=
WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_BUSINESS_ACCOUNT_ID=
WHATSAPP_WEBHOOK_VERIFY_TOKEN=
ADMIN_EMAILS=admin@local.test
